@theme{
    --color-background: #282C33;
    --color-foreground: #FFFFFF; 
    --color-primary: #C778DD;
    --color-primary-hover:rgb(199, 120, 221, 0.2);
    --color-gray: #ABB2BF;
    --color-gray-hover:rgb(171, 178, 191, 0.2);
    --font-primary:"Fira Code", monospace;
}